.loginPage{
	padding : 80px;
}
.logo {
	width : 220px; 
    height: 150px; 
    text-align: center; 
    display: block; 
    margin: 0px auto;
    cursor: Pointer;
}

.LoginFormEmail{
/*   display: block; */
  height: calc(1.5em + 0.75rem + 2px);
  margin: 1.0rem 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
 .LoginFormPassword{
/*   display: block; */
  height: calc(1.5em + 0.75rem + 2px);
  margin: 1.0rem 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login_Img{
	width : 350px;
	height : 49px;
	padding-left : 10px;
	padding-right : 10px;
	margin : 3px;
}

