.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

html, body, header{
  height: 100%;
}
.menu{
	background-color : #ffc9b0;
}
