.btn-selfcare{
	background-color : #ffc9b0;
	color : white;
}
.logo {
	width : 220px; 
    height: 150px; 
    text-align: center; 
    display: block; 
    margin: 0px auto;
    cursor: Pointer;
}
.SignUpBody{
	border-top: 2px solid #817571 ;
	margin-left: 300px;
	margin-right: 300px;
}
#IdBtn , #PwdBtn{
	padding-left: 100px;
	padding-right: 100px;
	background-color: #ffbd9e;
}

